<%- include('../../shared/includes/head', {title: 'Your Cart'}) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/update-cart.js" defer></script>
</head>
<body>
   <%- include('../../shared/includes/header') %>
   <main>
       <h2>Your Cart</h2>
       <ul id="cart-items">
           <% for (const item of locals.cart.items){ %>
                <li>
                    <article class="cart-item">
                    <div class="cart-item-info">
                        <h2><%= item.product.title %></h2>
                        <p>₹<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span><span class="product-price">(₹<%= item.product.price.toFixed(2) %>)</span></p>
                    </div>
    
                    <form class="cart-item-management" data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">
                        <input type="number" value="<%= item.quantity %>" required>
                        <button class="btn btn-alt">Update</button>
                    </form>
                    </article>
                </li>
           <% } %>
       </ul>

       <div id="cart-total">
           <p>Total: ₹<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
           <% if (locals.isAuth) { %>
            <form action="/orders" method="post">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <button class="btn">Buy Products</button>
            </form>
           <% } else { %>
            <p id="fallback">Login to buy products</p>
           <% } %> 
       </div>
   </main>
</body>
</html>